[user]
	name = Sho Mizutani
	email = lowply@gmail.com
[core]
	pager = less -r
	excludesfile = /Users/sho/.gitignore
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	pr			= pull --rebase # no merge commit when pulling
	fo			= fetch origin
	ro			= rebase origin # you can rebase to master by fo -> ro in branch
	rc			= rebase --continue
	wd			= diff --word-diff
	lg			= log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches # tree log ( via http://webtech-walker.com/archive/2010/03/04034601.html)

	# http://fujimura.hatenablog.com/entry/2014/04/20/232437
	s			= status -bs
	d			= diff
	ci			= commit -v
	fixup		= commit --amend -C HEAD
	co			= checkout
	ad			= add
	l			= log --decorate
	lp			= log --decorate --stat -p
	br			= branch --verbose --verbose --color
	f			= fetch
	g			= grep -n -p --color --heading --break
	sha			= log --pretty="%H"
	fu			= fetch upstream
	rum			= rebase upstream/master
	rom			= rebase origin/master
	tb			= git-tb
	bk			= git-bk
	gsub		= git-gsub
[color]
	ui = auto
