/*
/*.
!/.bashrc
!/.bashrc_osx
!/.bashrc_linux
!/.bash_profile
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.tmux.conf
!/.vim
!/.vimrc
!/.vimrc_neocomplete
!/Fixture.terminal
!/README.md
!/brewfile
!/osx.sh
!/symlink.sh
!/postgo.sh
