[include]
	path = ~/.gitconfig.local

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto

[merge]
	ff = false

[pull]
	ff = only

[grep]
	lineNumber = true

[alias]
	s = status
	b = branch
	co = checkout
	d = diff
	l = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'

	# http://blog.blindgaenger.net/advanced_git_aliases.html
	this = !git init && git add . && git commit -m \"Initial commit\"
	r = !git ls-files -z --deleted | xargs -0 git rm
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
	ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore

[filter "media"]
	clean = git-media-clean -- %f
	smudge = git-media-smudge -- %f

[docc]
	cmd = more

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[core]
	pager = less -FMRiX
	editor = vim
	excludesfile = /Users/sho/.gitignore

[push]
	default = simple

[github]
	user = lowply

[user]
	signingkey = lowply@github.com
	username = lowply
	name = Sho Mizutani
	email = lowply@github.com

[commit]
	verbose = true
	gpgsign = false

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[interactive]
	diffFilter = diff-highlight

[diff]
	compactionHeuristic = true
	submodule = log

[rebase]
	autosquash = true

[gpg]
	program = gpg
[tag]
	gpgSign = true
[init]
	defaultBranch = main

[credential]
	helper = !git-credential-manager-core
