"*":
  core:
    disabledPackages: [
      "vim-mode"
      "vim-surround"
      "linter-write-good"
      "linter-just-say-no"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "9ee1121b-79db-9c30-7f90-e9bdacbeff2f"
  "git-plus":
    general:
      _analyticsUserId: "db04a951-c24d-4fb0-a5c7-7348f9ed0c22"
  "go-plus":
    goPath: "$HOME"
  "japanese-wrap":
    characterWidth: {}
  linter: {}
  metrics:
    userId: "34983b77569c4f14b0a4e7ce82ed4c9df2fb42b1"
  minimap: {}
  nvatom:
    directory: "/Users/lowply/Dropbox/nvatom"
  "tree-view": {}
  welcome:
    showOnStartup: false
