"*":
  "exception-reporting":
    userId: "9ee1121b-79db-9c30-7f90-e9bdacbeff2f"
  welcome:
    showOnStartup: false
  metrics:
    userId: "34983b77569c4f14b0a4e7ce82ed4c9df2fb42b1"
  editor:
    fontSize: 12
    fontFamily: "Source Han Code JP"
    softWrap: true
    tabLength: 4
    showInvisibles: true
    softTabs: false
    invisibles: {}
  "go-plus":
    goPath: "$HOME"
  core: {}
