'exception-reporting':
  'userId': 'd7672929-a4d8-48b8-2a76-68125c5c660d'
'release-notes':
  'viewedVersion': '0.92.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '34983b77569c4f14b0a4e7ce82ed4c9df2fb42b1'
'editor':
  'fontSize': 14
